{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <form method="post" action="{{ path('app_login') }}" class="card">
        <h2>Ravi de vous revoir !</h2>

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="email">
            <label for="username">Adresse email :</label>
            <input type="email" name="_username" id="username" placeholder="Adresse email" value="{{ last_username }}" required>
        </div>

        <div class="password">
            <label for="password">Mot de passe :</label>
            <input type="password" name="_password" id="password" placeholder="Mot de passe" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="btn">
            <button type="button" class="button_retour" onclick="window.location.href='/'">Retour</button>
            <button type="submit" class="button">Se connecter</button>
        </div>

        <br>
        <a href="{{ path('app_user_new') }}">Souhaitez-vous créer un compte ?</a>
    </form>
{% endblock %}
