{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/security.css') }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <div class="card">
        <h2>{{ 'user.createAccount' |trans }}</h2>
        {{ form_start(form) }}
            <div class="pseudo">
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo, {'attr': {'placeholder': "{{ 'user.pseudo' |trans }}"}}) }}
            </div>

            <div class="email">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'placeholder': "{{ 'user.email' |trans }}"}}) }}
            </div>

            <div class="password">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'placeholder': "{{ 'user.password' |trans }}"}}) }}
            </div>

            <div class="btn">
                <button type="button" class="button_retour" onclick="window.location.href='/'">{{ 'user.back' |trans }}</button>
                <button type="submit" class="button">{{ 'user.createAccount' |trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
