{% extends 'base.html.twig' %}

{% block title %}Sanction{% endblock %}

{% block body %}
    <h1>Sanction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sanction.id }}</td>
            </tr>
            <tr>
                <th>SanctionDate</th>
                <td>{{ sanction.sanctionDate ? sanction.sanctionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ sanction.reason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sanction_index') }}">back to list</a>

    <a href="{{ path('app_sanction_edit', {'id': sanction.id}) }}">edit</a>

    {{ include('sanction/_delete_form.html.twig') }}
{% endblock %}
