{% extends 'base.html.twig' %}

{% block title %}{{ 'search_results.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'search_results.heading'|trans({'%query%': query}) }}</h1>

    {% if debats is empty %}
        <p>{{ 'search_results.no_results'|trans }}</p>
    {% else %}
        <ul>
            {% for debat in debats %}
                <li><a href="{{ path('app_debate_show', { id: debat.id }) }}">{{ debat.nameDebate }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
