{% extends 'base.html.twig' %}

{% block title %}{{ debate.nameDebate }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Debate/debate_show.css') }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message|trans }}
        </div>
    {% endfor %}
    <div class="page">
        <div class="header">
            <h1 class="text-center">{{ debate.nameDebate }}</h1>
            <p>{{ debate.descriptionDebate }}</p>

            <div class="button-group">
                <form method="get" action="{{ path('app_argument_new') }}">
                    <input type="hidden" name="debate" value="{{ debate.id }}">
                    <button class="button button-main">{{ 'argument.new'|trans }}</button>
                </form>
                <button class="button">
                    {{ 'debate.statistiques'|trans }}
                </button>
            </div>
        </div>

        <div class="container-arguments">
            {% for camp in debate.camps %}
                <div class="column">
                    <h2 class="text-center">{{ camp.nameCamp }}</h2>
                    <div>
                        {% for argument in arguments[camp.id] %}
                            {% set isVoted = argument.id in argumentIdVoted %}
                            {% include 'argument/show.html.twig' with {'argument' : argument, 'subArguments': subArguments, 'argumentIdVoted': argumentIdVoted, 'debateId': debate.id} %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('app_debate_index') }}">back to list</a>

        <a href="{{ path('app_debate_edit', {'id': debate.id}) }}">edit</a>
        {{ include('debate/_delete_form.html.twig') }}
    </div>
{% endblock %}
