{% extends 'base.html.twig' %}

{% block title %}{{ debate.nameDebate }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/argument/argument_new.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        {% if mainArgument == null %}
            <h1 class="title">{{ 'argument.form.create'|trans }} {{ debate.nameDebate }}</h1>
        {% else %}
            <h1 class="title">{{ 'argument.form.response'|trans }} {{ debate.nameDebate }}</h1>
        {% endif %}


        {{ form_start(form) }}

        {{ form_row(form.camp) }}
        {{ form_row(form.text) }}

        <div class="button-group justify-content-center">
            <a href="{{ path('app_debate_show', {'id': debate.id}) }}" class="button">
                {{ 'argument.form.return'|trans }}
            </a>
            <button class="button button-main">{{ 'argument.form.save'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
