<div class="card">
    <p>{{ argument.text }}</p>
    {% if isVoted %}
        <form method="post" action="{{ path('app_argument_unvote') }}">
            <input type="hidden" name="argumentId" value="{{ argument.id }}">
            <button class="btn">
                <img src="{{ asset('image/vote_full.png') }}">
            </button>
        </form>
    {% else %}
        <form method="post" action="{{ path('app_argument_vote') }}">
            <input type="hidden" name="argumentId" value="{{ argument.id }}">
            <button class="btn">
                <img src="{{ asset('image/vote.png') }}">
            </button>
        </form>
    {% endif %}
    <form method="post" action="{{ path('app_argument_new') }}">
        <input type="hidden" name="debateId" value="{{ debateId }}">
        <input type="hidden" name="mainArgumentId" value="{{ argument.id }}">
        <button class="btn">{{ 'argument.respond'|trans }}</button>
    </form>
    <form method="post" action="{{ path('app_argument_report') }}">
        <input type="hidden" name="argumentId" value="{{ argument.id }}">
        <button class="btn">{{ 'argument.report'|trans }}</button>
    </form>
</div>

<!-- TODO Afficher les sous-arguments !>
